@import "../../styles/colors.scss";

.container {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
}

.containerPagination {
  padding: 26px 40px 32px 40px;
  justify-content: center;
  grid-template-columns: 1fr auto 1fr;
}

.containerLeftPagination {
  justify-content: end;
}

.containerCenterPagination {
  justify-content: center;
}

.containerRightPagination {
  justify-content: start;
}

.paginationBtnArrow {
  color: $smoke-color;
  background-color: transparent;
  border: none;
}

.paginationBtn {
    height: 32px;
    width: 40px;
    color: #555555;
    background-color: #F5F5F5;
    border: 1px solid #E5E5E5;
}

.paginationBtnActive {
    color: white;
    background-color: #167ABC;
    border-color: #167ABC;
  }
