@import "../../styles/colors.scss";

.container {
  position: relative;
  width: fit-content;
}

.input {
  width: 295px;
  height: 32px;
  box-sizing: border-box;
  padding: 4px 16px;
  border-radius: 4px;
  font-style: italic;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: $smoke-color;
  background-color: $white-color;
  border: 1px solid $dark-snow-color;
}

.inputSearch {
  padding: 4px 38px 4px 16px;
}

.search {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 8px;
  right: 16px;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .input {
    width: 100%;
  }
}
