@import "../../styles/colors.scss";

.container {
  cursor: pointer;
  width: 100%;
  height: 88px;
  background-color: $white-color;
  box-shadow: 0px 0px 5px $dark-color;
  border-radius: 4px;
  padding: 20px 24px;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-gap: 24px;
  text-decoration: none;
  border: none;
  &:hover {
    opacity: 0.7;
  }
}

.picture {
  height: 48px;
  width: 48px;
  border-radius: 4px;
}

.containerDescription {
  display: grid;
  align-content: start;
  grid-gap: 4px;
  overflow: auto;
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: auto 1fr;
  }
}
