@import "../../styles/colors.scss";

.containerNavbar {
  background-color: $white-color;
  width: 100vw;
  height: 64px;
  padding: 16px 24px;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 16px;
  grid-template-columns: auto 1fr auto;
}

.navbarLogoObjective {
  width: 96px;
  height: 24px;
  align-self: center;
}

.containerCandidate {
  align-self: center;
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 4px;
}

.menu {
  background-color: $snow-color;
  border-radius: 4px;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

@media (max-width: 767px) {
  .containerCandidate {
    grid-gap: 0;
    grid-auto-flow: row;
    text-align: right;
  }
}
